<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Responsive Design</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-1">Loghul Electronic  Limited</h1>
            <p class="lead">We Manufacture high quality Electronic products</p>
        </div>

    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-3"><a href="#">Home</a></div>
            <div class="col-12 col-md-3"><a href="#">People</a></div>
            <div class="col-12 col-md-3"><a href="#">products</a></div>
            <div class="col-12 col-md-3"><a href="#">Contact us</a></div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p class="lead">Our Premium Products</p>
            </div>
        </div>
    
 
        <div class="row text-center">
            <div class="card col-12 col-md-6 col-lg-3 ">
               <img class="card-img-top" src="/static/img/electronic.png" alt="Card image cap">
                <div class="card-body">

                <h5 class="card-title">Mivi USB Type C, USB OTG Adapter</h5>
                <p class="card-text">Price: 399.00</p>
                <a href="#" class="btn btn-primary">More Details</a>
                </div>
        </div>
    
        <div class="card col-12 col-md-6 col-lg-3 ">
               <img class="card-img-top" src="/static/img/l1.jpg" alt="Card image cap">
                <div class="card-body">

                <h5 class="card-title">1TB Laptop HDD</h5>
                <p class="card-text">Price: Rs.5000.00</p>
                <a href="#" class="btn btn-primary">More Details</a>
                </div>
        </div>
    
    
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/l2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Modem</h5>
                <p class="card-text">price: Rs.1299</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>


    
        

    
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/l3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pitambara USB Type C to 3 Port USB 3.0 and Lan RJ45</h5>
                <p class="card-text">Price: Rs.1249.00</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
    

    
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/l4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Paybox 10g-50Kg Digital Hanging Luggage Fishing Weight Scale Weighing Scale</h5>
                <p class="card-text">price: Rs.250.00</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        </div>
    
    </div>
 


        <div class="row text-center">
            <div class="card col-12">
                <p>Copyright © 2020 Loghul Electronic Private Limited, Developed by Loghul.</p>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>